<!DOCTYPE html>
<html>
    <head>
        <title>Bibtex</title>
    </head>
    <body>
        {% for citation in bibtex %}
        {{ citation.Citekey }}<br>
        <text style="margin-left: 40px;">{{ citation.Author }}</text><br>
        <text style="margin-left: 40px;">{{ citation.Title }}</text><br>
        <text style="margin-left: 40px;">{{ citation.Year }}</text><br>
        <text style="margin-left: 40px;">{{ citation.Publisher }}</text><br>
        {{ citation.Last }}<br>
        {% endfor %}
    </body>
</html>
