{% extends "layout.html" %}
<head>
    <title>{% block title %} - Kaikki viitteet {% endblock %}</title>
</head>
{% block content %}
<!DOCTYPE html>
<html>
    <body>
        <h2>Kaikki viittaukset</h2>
        <ul>
            {% for citation in citations %}
            <li>citekey: {{ citation.cite_key }} </li>
            <form action="/remove" method="POST">
                    <input type="hidden" name="id" value="{{ citation.cite_key }}">
                    <input type="submit" id="remove-{{ citation.cite_key }}" value="Poista viittaus">
                </form>
            <ul>
                {% for key, value in citation.items() %}
                
                    {% if key != "cite_key" %}
                        <li id="{{ citation.cite_key }}-{{key}}">{{key}}: {{ value }}</li>
                    {% endif %}
                {% endfor %}
            </ul>
            {% endfor %}
        </ul>
    </body>
</html>
{% endblock %}