<head>
    <title>Lisää Viite {{ types[0] }}</title>
</head>
<body>
    <form action="/form" method="POST">
        <label for="types">Valitse viitetyyppi:</label>
        <select name="types" onchange="this.form.submit()">
            {% for type in types %}
                {% if type == selected %}
                    <option value="{{ type }}" selected>{{ type }}</option>
                {% else %}
                    <option value="{{ type }}">{{ type }}</option>
                {% endif %}
            {% endfor %}
        </select>
    </form>

    <form action="/create" method="POST">
        <p>Pakolliset kentät</p>
        {% for field in required_fields %}
        <label for="{{ field[0] }}">{{ field[1] }}</label>
        <input type="text", id="{{ field[0] }}" name="{{ field[0] }}" placeholder="pakollinen kenttä" required>
        {% endfor %}
        <p>Valinnaiset kentät</p>
        {% for field in optional_fields %}
        <label for="{{ field[0] }}">{{ field[1] }}</label>
        <input type="text", id="{{ field[0] }}" name="{{ field[0] }}">
        {% endfor %}
        <p>Anna viitteelle tageja<p>
        <label for="tag">Erottele eri tagit pilkulla</label>
        <input type="text", id="tag" name="Tagit">
        <input type="hidden" name="selected" value="{{ selected }}">
        <input id="submit-button" type="submit" value="Luo viite">
    </form>

    <style>
        label {
            display: block;
            padding-bottom: 2px;
            padding-top: 4px;
        }

        #submit-button {
            display: block;
        }
    </style>
</body>
