<head>
    <title>Lisää Viite</title>
</head>
<form action="/create" method="POST">
    <p>Kirjailijan nimi:</p>
    <input type="text" id="author" name="author" required></p>
    <p>Kirjan nimi:</p>
    <input type="text" id="title" name="title" required></p>
    <p>Kirjan julkaisuvuosi:</p>
    <input type="text" id="year" name="year" required></p>
    <p>Kirjan julkaisja:</p>
    <input type="text" id="publisher" name="publisher" required></p>
    <input type="submit" value="Luo viite">


</form>
